
.PaginationWrap{
    display:flex;
    justify-content:center;
    align-items: center;
    width: 100%;
}
.buttonPagination{
    border:none;
    background-color: transparent;
    // color:#FF993C;
    color: #A5A8B1;
}
.buttonPagination:hover{
    color: #FF993C;
    
}
