.btoutline{
    display:flex;
    justify-content:space-between;
    align-items: center;
    border: 1px solid #FF993C;
    border-radius:4px;
    margin-right: 8px;
    width: auto;
    height:auto;
    min-width: 110px;
    min-height: 32px;
    background-color: #fff;
    transition: transform 0.5s;
    padding: 0.5rem 0.65rem;
    font-weight: bold;
    color:#FF993C;
    font-size: 1.15rem;
    font-family: 'Montserrat', sans-serif;
}
.btoutline:hover{
    cursor: pointer;
    transform:scale(
        1.1,1.1
    )
}