.DoiSoatVe{
    &-wrap{
        display:flex;
        justify-content:flex-start;
        flex-direction:row;
    }
    &-table{
        &-margin2{
            margin: 2rem 0;
        }
        &-pagination{
            display:flex;
            justify-content:space-between;
            align-items: center;
            flex-direction:row;
            &-marginTop2{
                margin-top: 2rem;
            }
        }
    }
}
