.TimePicker{
    width:300px;
    height:auto;
    padding: 1rem 2rem;
    &-Item{
        padding: 0.25rem 0.875rem;
        border: 1px solid black;
        &-Hours{
            height:50px;
            padding: 0.25rem 0.875rem;
            border: 1px solid black;
        }
    }
}